# Vim
tags
.*.swp
.*.swo

# IDEA
.idea

# OS X
.DS_Store

# SBT specific
.cache
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Others
.metadata/
.recommenders/
