# Vim
tags
.*.swp
.*.swo

# Eclipse (Scala IDE)
build/
bin/
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

# OS X
.DS_Store

# SBT specific
.cache
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Others
.metadata/
.recommenders/
